section {
  min-height: 100vh;
  max-width: 100%;
  position: relative;
}
.monkey {
  position: absolute;
  height: 400px;
  top: -150px;
  left: -150px;
  animation-name: monkey;
  animation-duration: 3s;
}
@keyframes monkey {
  from {
    transform: rotate(-200deg);
    
  }
  to{

  }
}
