* {
  margin: 0;
  padding: 0;
}
section {
  min-height: 300vh;
  position: relative;
}
nav {
  background-color: red;
  height: 10vh;
  top: 0;
  position: sticky;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: black;
  position: fixed;
  bottom: 0;
  right: 0;
}
.ab {
  height: 200px;
  width: 200px;
  background-color: blue;
  position: absolute;
  top: 30vh;
  z-index
  left: 40%;
}
